.navyExer {
  position: absolute;
  top: 40%;
  margin-left: 20%;
  width: 60%;
  color: white;
  text-align: center;
}

/* up-down */
.box2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: -160%;
  left: 48%;
  background-color: white;
  opacity: 50%;
  animation: ex2 5s infinite;
  animation-delay: 3s;
}
@keyframes ex2 {
  0% {
    opacity: 100%;
    top: -180%;
  }
  25% {
    opacity: 50%;
    top: 200%;
  }
  50% {
    opacity: 50%;
    top: -180%;
  }
  75% {
    opacity: 100%;
    top: 200%;
  }
}

/* left-right */
.box4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 4%;
  background-color: white;
  opacity: 50%;
  animation: ex4 5s infinite;
  animation-delay: 3s;
}

@keyframes ex4 {
  0% {
    opacity: 100%;
    left: 2%;
  }
  25% {
    opacity: 50%;
    left: 50%;
  }
  50% {
    opacity: 100%;
    left: 96%;
  }
  75% {
    opacity: 50%;
    left: 50%;
  }
  100% {
    opacity: 50%;
    left: 2%;
  }
}

/* along-diagonal */
.box5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 250%;
  left: 2%;
  background-color: white;
  opacity: 50%;
  animation: ex5 3s infinite;
  animation-delay: 2s;
}

@keyframes ex5 {
  0% {
    opacity: 100%;
    top: 250%;
  }
  25% {
    top: -200%;
    left: 2%;
  }
  50% {
    top: 250%;
    left: 96%;
  }
  75% {
    top: -200%;
    left: 96%;
  }
  100% {
    left: 2%;
    top: 250%;
  }
}

/* clockwise */
.box7 {
  width: 30px;
  height: 30px;
  position: relative;
  top: -100px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  opacity: 50%;
  animation: ex7 3s infinite linear;
}

@keyframes ex7 {
  0% {
    transform: rotate(0deg) translateY(200px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(200px) rotate(-360deg);
  }
}

/* vibrate */
.box1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 48%;
  background-color: white;
  opacity: 50%;
  animation: box1 0.7s infinite;
  animation-delay: 2s;
}

@keyframes box1 {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
