.navyExer {
  position: absolute;
  top: 20%;
  margin-left: 20%;
  width: 60%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.navyExer .ex1 {
  /* margin-top: 150px; */
  font-size: 20px;
}

.navyExer .exCounter {
  font-size: 80px;
}

/* up-down */
.box2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: -40%;
  left: 48%;
  background-color: white;
  opacity: 50%;
  animation: ex2 5s infinite;
  /* animation-delay: 3s; */
}
@keyframes ex2 {
  0% {
    opacity: 100%;
    top: -40%;
  }
  25% {
    opacity: 50%;
    top: 150%;
  }
  50% {
    opacity: 50%;
    top: -40%;
  }
  75% {
    opacity: 100%;
    top: 150%;
  }
}

/* left-right */
.box4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 0%;
  background-color: white;
  opacity: 50%;
  animation: ex4 3s infinite;
  /* animation-delay: 3s; */
}

@keyframes ex4 {
  0% {
    opacity: 100%;
    left: -30%;
  }
  25% {
    opacity: 50%;
    left: 50%;
  }
  50% {
    opacity: 100%;
    left: 125%;
  }
  75% {
    opacity: 50%;
    left: 50%;
  }
  100% {
    opacity: 50%;
    left: -30%;
  }
}

/* along-diagonal */
.box5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 200%;
  left: -30%;
  background-color: white;
  opacity: 50%;
  animation: ex5 3s infinite;
  /* animation-delay: 2s; */
}

@keyframes ex5 {
  0% {
    opacity: 100%;
    top: 150%;
  }
  25% {
    top: -40%;
    left: -30%;
  }
  50% {
    top: 150%;
    left: 125%;
  }
  75% {
    top: -40%;
    left: 125%;
  }
  100% {
    left: -30%;
    top: 150%;
  }
}

/* clockwise */
.box7 {
  width: 30px;
  height: 30px;
  position: relative;
  top: -170px;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  opacity: 50%;
  animation: ex7 3s infinite linear;
}

@keyframes ex7 {
  0% {
    transform: rotate(0deg) translateY(250px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(250px) rotate(-360deg);
  }
}

/* vibrate */
.box1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  position: absolute;
  top: 70%;
  left: 48%;
  background-color: white;
  opacity: 50%;
  animation: box1 1s infinite;
  /* margin-bottom: 50px; */
  /* animation-delay: 2s; */
}

@keyframes box1 {
  0% {
    transform: rotate(-45deg) scale(0.8);
    opacity: 50%;
  }
  25% {
    transform: rotate(-45deg) scale(1.05);
    opacity: 80%;
  }
  50% {
    transform: rotate(-45deg) scale(1.1);
    opacity: 100%;
  }
  75% {
    transform: rotate(-45deg) scale(1.05);
    opacity: 80%;
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
    opacity: 50%;
  }
}

/* spiral */
.boxS {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 60%;
  left: 50%;
  border-radius: 50%;
  margin: auto;
  background-color: white;
  opacity: 50%;
  animation: exam 6s infinite;
}

@keyframes exam {
  0% {
    transform: rotate(720deg) translateX(200px) translateY(200px) rotate(720deg);
  }
}
